* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$primary: white;
$font--size: 14px;
$family: Arial, Helvetica, sans-serif;

nav.navbar {
    width: 100%;
    height: 4em;
    background-color: $primary;
    border-bottom: 1px solid black;
    font-family: $family;

    display: flex;
    flex-direction: row;
    align-items: center;

    .logo {
        padding: 0.5em 2em;
    }

    .logo img {
        width: 3em;
        height: 3em;
    }

    ul {
        width: 50%;
        list-style-type: none;

        display: flex;
        flex-direction: row;

        li {
            height: 100%;
            display: flex;
            cursor: pointer;
            padding: 0 0.5em;
            justify-content: stretch;
            align-items: stretch;

            &:hover {
                border-bottom: 2px solid orangered;
            }

            a {
                height: 100%;
                display: block;
                // padding-bottom: 1em;
                font-size: $font--size;
                text-decoration: none;
                color: black;
                text-transform: uppercase;

                .new {
                    position: absolute;
                    top: 12px;
                    color: red;
                    font-size: 10px;
                    padding: 3px;
                }
            }
        }
    }

    .searchBar {
        margin-left: 10em;
        border-radius: 4px;
        background-color: rgba(211, 211, 211, 0.359);
        opacity: 0.7;
        padding: 4px 8px;
        width: 30%;

        .search {
            width: 80%;
            background-color: transparent;
            padding: 8px;
            outline: none;
            border: none;
        }
    }

    .profile-content {
        width: 20%;
        margin-left: 5em;
        text-align: center;
        float: right;

        div {
            padding: 4px;
            cursor: pointer;
            display: inline-block;
        }

        div p {
            font-size: $font--size;
            word-spacing: 4px;
        }
    }
}

.slide-ads {
    width: 100%;
    height: fit-content;

    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
    }

    .mySlides {
        display: none;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .numbertext {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }

    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: 0.4;
        }
        to {
            opacity: 1;
        }
    }
}

$H1Color: rgb(78, 78, 78);

section {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.139);

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        padding: 3em 1em 2em 1em;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        color: rgb(78, 78, 78);
    }
}

.ModelBrands {
    .image-slideshow {
        max-width: 100%;
        position: relative;
        margin: auto;
    }
    img {
        width: 100%;
    }
    .autoFade {
        animation-name: autoFade;
        animation-duration: 2s;
    }
    @keyframes autoFade {
        from {
            opacity: 0.5;
        }
        to {
            opacity: 1;
        }
    }
}
