* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav.navbar {
  width: 100%;
  height: 4em;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav.navbar .logo {
  padding: 0.5em 2em;
}
nav.navbar .logo img {
  width: 3em;
  height: 3em;
}
nav.navbar ul {
  width: 50%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
nav.navbar ul li {
  height: 4em;
  display: flex;
  cursor: pointer;
  padding: 1.5em 0.5em;
  justify-content: stretch;
  align-items: center;
}
nav.navbar ul li:hover {
  border-bottom: 4px solid orangered;
}
nav.navbar ul li a {
  height: 100%;
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
nav.navbar ul li a .new {
  position: absolute;
  top: 12px;
  color: red;
  font-size: 10px;
  padding: 3px;
}
nav.navbar .searchBar {
  margin-left: 10em;
  border-radius: 4px;
  background-color: rgba(211, 211, 211, 0.359);
  opacity: 0.7;
  padding: 4px 8px;
  width: 30%;
}
nav.navbar .searchBar .search {
  width: 80%;
  background-color: transparent;
  padding: 8px;
  outline: none;
  border: none;
}
nav.navbar .profile-content {
  width: 20%;
  margin-left: 5em;
  text-align: center;
  float: right;
}
nav.navbar .profile-content div {
  padding: 4px;
  cursor: pointer;
  display: inline-block;
}
nav.navbar .profile-content div p {
  font-size: 14px;
  word-spacing: 4px;
}
nav.navbar .profile-content div i {
  padding-bottom: 10px;
}

.side-ads {
  width: 10em;
  position: fixed;
  right: -7em;
  top: 10em;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.side-ads .ads-title {
  width: 2em;
  height: 380px;
  background: radial-gradient(rgb(123, 123, 123), rgb(78, 78, 78));
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column-reverse;
  font-size: Arial, Helvetica, sans-serif;
}
.side-ads .ads-title p {
  transform: rotate(-90deg);
  position: absolute;
  top: 0.5em;
  left: 1.2em;
  height: 80px;
}
.side-ads .ads-title i {
  position: absolute;
  font-size: 30px;
  transform: rotate(-90deg);
  left: 1.4em;
  top: 0.5em;
  height: 80px;
}
.side-ads .ads-title :first-child {
  top: 280px;
}
.side-ads .ads-title :nth-child(2) {
  top: 220px;
}
.side-ads .ads-title :nth-child(3) {
  left: 1.6em;
  top: 170px;
}
.side-ads .ads-content {
  background-color: rgb(250, 242, 230);
  color: rgb(41, 55, 92);
  max-height: 380px;
  position: relative;
  width: 35em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.side-ads .ads-content .content-1 :first-child {
  margin: 2em 0 1em 1em;
}
.side-ads .ads-content .content-1 :nth-child(2) {
  margin: 0 0 1em 0.5em;
  font-size: 3em;
  text-transform: uppercase;
}
.side-ads .ads-content .content-1 :nth-child(4) {
  margin: 0 0 0 1.5em;
}
.side-ads .ads-content .content-2 img {
  margin: 1em;
}
.side-ads .ads-content .content-2 button {
  text-transform: uppercase;
  font-weight: 800;
  margin: 0 2em;
  padding: 1em;
  background-color: rgb(255, 93, 120);
  border: none;
  border-radius: 4px;
  color: white;
}
.side-ads .ads-content .ads-footer {
  position: absolute;
  top: 20em;
  padding-top: 0.5em;
  border-top: 1px dashed rgb(49, 146, 49);
}
.side-ads .ads-content .ads-footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.side-ads .ads-content .ads-footer ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 180px;
}
.side-ads .altNotification {
  position: absolute;
  top: 25em;
  width: 2.5em;
  height: 2.5em;
  padding: 7px;
  border: 2px solid #0062ff;
  border-radius: 50%;
  animation-name: bellShake;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.side-ads .altNotification i {
  font-size: 1.5em;
}
@keyframes bellShake {
  0% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
    box-shadow: 0 0 10px #0062ff;
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
    box-shadow: 0 0 10px #0062ff;
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.showAds {
  right: 25em;
}
.showAds .hideAds i {
  transform: rotate(90deg);
  left: -0.4em;
}
.showAds .altNotification {
  position: absolute;
  left: 32em;
  top: 25em;
}

.slide-ads {
  margin-top: 4em;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.slide-ads .slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.slide-ads .mySlides {
  display: none;
}
.slide-ads .prev,
.slide-ads .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.slide-ads .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slide-ads .prev:hover,
.slide-ads .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slide-ads .numbertext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.slide-ads .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slide-ads .active,
.slide-ads .dot:hover {
  background-color: #717171;
}
.slide-ads .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

section {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.139);
}
section h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 3em 1em 2em 1em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: rgb(78, 78, 78);
}

.ModelBrands .image-slideshow {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.ModelBrands img {
  width: 100%;
}
.ModelBrands .autoFade {
  animation-name: autoFade;
  animation-duration: 2s;
}
@keyframes autoFade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

footer {
  width: 100%;
  padding: 2em;
}
footer .content-1,
footer .content-2 {
  width: 20%;
  float: left;
}
footer .content-1 h4,
footer .content-2 h4 {
  font-size: 14px;
  padding: 1.5em 1em 1em 1em;
  text-transform: uppercase;
}
footer .content-1 ul li,
footer .content-2 ul li {
  list-style: none;
  padding: 0.3em;
}
footer .content-1 ul li a,
footer .content-2 ul li a {
  color: gray;
  text-decoration: none;
  text-transform: capitalize;
}
footer .content-3 {
  width: 25%;
  float: left;
}
footer .content-3 h4 {
  font-size: 14px;
  padding: 1.5em 1em 1em 1em;
  text-transform: uppercase;
}
footer .content-3 img {
  margin: 1em 0.5em;
}
footer .content-3 ul {
  display: flex;
  flex-direction: row;
}
footer .content-3 ul li {
  list-style: none;
  padding: 4px;
}
footer .content-3 ul li i {
  color: rgb(174, 174, 174);
  font-size: 2em;
}
footer .contetnt-4 {
  width: 25%;
  float: left;
}
footer .contetnt-4 div {
  display: flex;
  flex-direction: row;
  padding: 1em;
}
footer .contetnt-4 div p {
  padding: 0.5em 0 0 1em;
}
footer .reserved {
  width: 100%;
  height: 3em;
  float: left;
  text-align: center;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .reserved p {
  width: 100%;
}/*# sourceMappingURL=style.css.map */